/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  width: 100%;

  @include breakpoint(extra-large){
    width: 40em;
  }
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  border: 0;
  margin: auto;
  border-radius: 5px;
}

#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0.8em auto 1em auto;
  width: 100%;

  @include breakpoint(extra-large){
    width: 40em;
  }

  li {
    display: inline-block;
    float: none;
    height: 1.5em;
    width: 1.5em;
    border-radius: 3px;
    background-color: $lightGray;

    &:not(:last-child) {
      margin-right: 0.6em;
    }

    &:active {
      background-color: $green;
    }

    @include breakpoint(large) {
      &:hover {
        background-color: $green;
      }
    }
  }

  .rslides_here {
    background-color: $green;
  }
}

.rslides_tabs a {
  line-height: 20px;
  padding: 0;
  height: 1.5em;
  width: 1.5em;
  display: block;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
}

.rslides_nav{
  display:none;
}
